extends ../../layout
block content
    .container
        input#anchor(type='hidden' value='#{section}')
        ol.breadcrumb
            li
                a(href='/mongoDB') MongoDB
            li
                a(href='/mongoDB/model') 数据模型
            li.active 示例
        h3 4.3&emsp;示例
        p 本节内容详细介绍了有关数据建模的示例模式，以及在建模时需要考虑的注意事项。
        ul
            li
                a(href='#section431') 4.3.1&emsp;文档关系的建模
                ul
                    li
                        a(href='#section4311') 4.3.1.1&emsp;使用嵌套文档实现一对一关系
                    li
                        a(href='#section4312') 4.3.1.2&emsp;使用嵌套文档实现一对多关系
                    li
                        a(href='#section4313') 4.3.1.3&emsp;使用范式关联实现一对多关系
            li
                a(href='#section432') 4.3.2&emsp;树形结构建模
                ul
                    li
                        a(href='#section4321') 4.3.2.1&emsp;使用父节点关联实现树形结构
                    li
                        a(href='#section4322') 4.3.2.2&emsp;使用自己点关联实现树形结构
            li
                a(href='#section433') 4.3.3&emsp;根据应用程序的特定上下文建模
                ul
                    li
                        a(href='#section4331') 4.3.3.1&emsp;为原子性操作建模
                    li
                        a(href='#section4332') 4.3.3.2&emsp;支持关键字搜索的数据建模
        h4#section431 4.3.1&emsp;文档关系的建模
        p 本小节详述了