extends ../../layout

block content
    .container
        ol.breadcrumb
            li
                a(href='/mongoDB') MongoDB
            li.active 数据模型
        p MongoDB中的数据结构是十分灵活的，<em>集合</em>不会强制<em>文档</em>的结构。这种灵活性可以使用使用者充分依据具体的应用场景，
            | 以及必须要的性能考虑来设计自己的数据模型。
        ul
            li
                a(href='/mongoDB/model/introduction') 4.1&emsp;简介
                    ul
                        li
                            a(href='/mongoDB/model/introduction/section411') 4.1.1&emsp;文档结构
                        li
                            a(href='/mongoDB/model/introduction/section412') 4.1.2&emsp;写操作的原子性
                        li
                            a(href='/mongoDB/model/introduction/section413') 4.1.3&emsp;文档大小的增长
                        li
                            a(href='/mongoDB/model/introduction/section414') 4.1.4&emsp;数据的使用情况和性能
            li
                a(href='/mongoDB/model/concept') 4.2&emsp;相关概念
                    ul
                        li
                            a(href='/mongoDB/model/concept/section421') 4.2.1&emsp;数据模型设计
                        li
                            a(href='/mongoDB/model/concept/section422') 4.2.2&emsp;数据实际使用的考虑和数据模型
                        li
                            a(href='/mongoDB/model/concept/section423') 4.2.3&emsp;GridFS
            li
                a(href='/mongoDB/model/example') 4.3&emsp;示例
                    ul
                        li
                            a(href='/mongoDB/model/example/section431') 4.3.1&emsp;文档关系的建模
                        li
                            a(href='/mongoDB/model/example/section432') 4.3.2&emsp;树形结构建模
                        li
                            a(href='/mongoDB/model/example/section433') 4.3.3&emsp;根据应用程序的特定上下文建模
            li
                a(href='/mongoDB/model/reference') 4.4&emsp;参考资料
                    ul
                        li
                            a(href='/mongoDB/model/reference/section441') 4.4.1&emsp;文档
                        li
                            a(href='/mongoDB/model/reference/section442') 4.4.2&emsp;数据库关联关系
                        li
                            a(href='/mongoDB/model/reference/section443') 4.4.3&emsp;GridFS参考
                        li
                            a(href='/mongoDB/model/reference/section444') 4.4.4&emsp;ObjectId
                        li
                            a(href='/mongoDB/model/reference/section445') 4.4.5&emsp;BSON类型