extends ./layout

block content
    .container
        ol.breadcrumb
            li.active 更新记录
        ul
            li
                strong 截止2015-02-09
                p 完成MongoDB版本2.6.4手册的
                    a(href='/mongoDB/introduction') 第一章：简介
                    | 、
                    a(href='/mongoDB/crud') 第三章：CRUD
                    | 、
                    a(href='/mongoDB/model') 第四章：数据模型
                    | 、
                    a(href='/mongoDB/aggregation') 第七章：聚合
                    | 、
                    a(href='/mongoDB/index') 第八章：索引
                    | ，
                    | 其中
                    a(href='/mongoDB/index') 第八章：索引中
                    | ，关于文本索引的内容暂未完成。