extends layout

block content
    .container
        blockquote
            p MongoDB中文手册对应的版本为MongoDB 2.6.4&emsp;
                a(href='/mongoDB', title='查看MongoDB2.6.4中文手册')
                    span.glyphicon.glyphicon-log-in
            footer
                a(href='http://docs.mongodb.org/manual/', target='_blank') http://docs.mongodb.org/manual/
