extends layout

block content
    input#homeTag(type='hidden', value='home')
    .container
        blockquote
            p MongoDB中文手册对应的版本为MongoDB 2.6.4&emsp;
                a(href='/mongoDB', title='查看MongoDB2.6.4中文手册')
                    span.glyphicon.glyphicon-log-in
                a(href='/MongoDB-2.6.4-manual.pdf', title='查看MongoDB2.6.4官方手册', target='_blank', style='margin-left:10px;')
                    span.glyphicon.glyphicon-file
            footer
                a(href='http://docs.mongodb.org/manual/', target='_blank') http://docs.mongodb.org/manual/
