doctype html
html(lang='zh-cn')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')/
    title 中文手册
    //- 引入CSS样式文件和JS脚本文件
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')/
    link(rel='stylesheet', href='/stylesheets/style.css')/
    script(type='text/javascript' src='/javascripts/jquery-2.1.0.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/location-anchor.js')
    script.
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F469c4e7d28ba4caf0ac753140c16cf98' type='text/javascript'%3E%3C/script%3E"));
  body
    include ./nav
    a#aboutUs(href='/aboutUs', style='position:absolute;opacity:0.7;', title='关于站点')
        span.glyphicon.glyphicon-user(style='font-size:30px;')
    a#history(href='/history', style='position:absolute;opacity:0.7;', title='更新记录')
        span.glyphicon.glyphicon-th-list(style='font-size:30px;')
    a#goBack(href='javascript:history.back();', style='display:none;position:absolute;opacity:0.7;', title='回退')
        span.glyphicon.glyphicon-circle-arrow-left(style='font-size:30px;')
    a#scrollToTop(href='javascript:void(0);', style='display:none;position:absolute;opacity:0.7;', title='返回顶部')
        span.glyphicon.glyphicon-circle-arrow-up(style='font-size:30px;')
    block content
    script.
        $('img[src="http://eiv.baidu.com/hmt/icon/21.gif"]').hide();
