extends ../../layout
block content
    .container
        input#anchor(type='hidden' value='#{section}')
        ol.breadcrumb
            li
                a(href='/mongoDB') MongoDB
            li
                a(href='/mongoDB/index') 索引
            li.active 简介
        h3 8.1&emsp;简介
        p 在MongoDB中，索引可以大幅度的提高查询语句的性能。如果没有索引，查询语句必须遍历集合中的所有文档以获取匹配过滤条件的文档。
            | 遍历集合所有文档是低效的，因为这些遍历操作需要<code>mongod</code>实例处理大量的数据，而如果使用索引，
            | 需要遍历的数据将会大大减少，进而提高查询语句的执行效率。
        p 索引使用一种特殊的数据结构（B-tree）存储集合的一小部分部分数据，该数据结构支持非常高效的遍历操作。索引存储了指定字段或指定组合字段的值，
            | 并且是有序存储的。
        p 从根本上说，MongoDB中的索引和其他关系型数据库中的索引类似。MongoDB在集合上定义索引，并且支持文档单一字段的索引、
            | 组合字段的索引，以及嵌套文档字段的索引。
        p 如果对于一个查询语句，存在一个合适的索引，则MongoDB会利用该索引，以限制需要处理的数据量。在有些场景中，
            | MongoDB可以利用索引数据确定哪些文档可以匹配查询语句。下图说明了一个使用索引的查询语句时如何执行的：
        p.text-center
            img.img-responsive(src='/images/mongoDB/chapter_08/8.1.png', title='使用索引的查询语句')
            br
            small 图8.1&emsp;使用索引的查询语句
        p 本节包含以下内容：
        ul
            li
                a(href='#section811') 8.1.1&emsp;优化
            li
                a(href='#section812') 8.1.2&emsp;索引类型
            li
                a(href='#section813') 8.1.3&emsp;索引属性
            li
                a(href='#section814') 8.1.4&emsp;索引的交叉使用
        h4#section811 8.1.1&emsp;优化
        p 索引通过使<code>mongod</code>实例遍历较少的数据来提供查询语句的性能。
        p 针对以下场景，索引同样可以提高对应查询语句的性能：
            ul
                li <strong>排序结果集</strong>&emsp;由于索引存储的数据是有序的，所以通过索引，MongoDB可以按照索引字段的顺序返回结果集，
                    | 而不需要额外的排序操作。
                li <strong>索引包含的结果集</strong>&emsp;当查询语句的过滤条件字段和投影返回字段只包含索引字段，MongoDB可以直接使用索引返回结果，
                    | 而不需要额外的文档查询操作，该种查询性能非常高。
        h4#section812 8.1.2&emsp;索引类型
        p 