extends ../../layout
block content
    .container
        ol.breadcrumb
            li
                a(href='/mongoDB') MongoDB
            li.active 索引
        p 对于常用的用户查询，索引可以提供高效的读操作。
        p 本章内容介绍了MongoDB中的索引，介绍了索引的类型以及如何创建配置索引，并且描述了MongoDB提供的特殊类型的索引。
            | 同时，本章提供了详细的指导教程，以及应用程序应该如何使用索引的建议。
        ul
            li
                a(href='/mongoDB/index/introduction') 8.1&emsp;简介
                ul
                    li
                        a(href='/mongoDB/index/introduction/section811') 8.1.1&emsp;优化
                    li
                        a(href='/mongoDB/index/introduction/section812') 8.1.2&emsp;索引类型
                    li
                        a(href='/mongoDB/index/introduction/section813') 8.1.3&emsp;索引属性
                    li
                        a(href='/mongoDB/index/introduction/section814') 8.1.4&emsp;索引的交叉使用
            li
                a(href='/mongoDB/index/concept') 8.2&emsp;相关概念
                ul
                    li
                        a(href='/mongoDB/index/concept/section821') 8.2.1&emsp;索引类型
                    li
                        a(href='/mongoDB/index/concept/section822') 8.2.2&emsp;索引属性
                    li
                        a(href='/mongoDB/index/concept/section823') 8.2.3&emsp;创建索引
                    li
                        a(href='/mongoDB/index/concept/section824') 8.2.4&emsp;索引的交叉使用
            li
                a(href='/mongoDB/index/tutorial') 8.3&emsp;指导教程
                ul
                    li
                        a(href='/mongoDB/index/tutorial/section831') 8.3.1&emsp;创建索引
                    li
                        a(href='/mongoDB/index/tutorial/section832') 8.3.2&emsp;管理索引
                    li
                        a(href='/mongoDB/index/tutorial/section833') 8.3.3&emsp;空间索引
                    li
                        a(href='/mongoDB/index/tutorial/section834') 8.3.4&emsp;文本搜索索引
                    li
                        a(href='/mongoDB/index/tutorial/section835') 8.3.5&emsp;索引策略
            li
                a(href='/mongoDB/index/reference') 8.4&emsp;参考资料
                ul
                    li
                        a(href='/mongoDB/index/reference/section841') 8.4.1&emsp;在<code>mongo</code> shell中关于索引的方法
                    li
                        a(href='/mongoDB/index/reference/section842') 8.4.2&emsp;数据库中关于索引的命令
                    li
                        a(href='/mongoDB/index/reference/section843') 8.4.3&emsp;空间坐标的查询选择符
                    li
                        a(href='/mongoDB/index/reference/section844') 8.4.4&emsp;索引查询修正符
                    li
                        a(href='/mongoDB/index/reference/section845') 8.4.5&emsp;其他索引相关内容
