body {
    padding-top: 70px;
    background-image: url('../images/bg.png');
}

.two {
    padding-left: 20px;
}

.third {
    padding-left: 40px;
}

.three {
    padding-left: 40px;
}

.fourth {
    padding-left: 60px;
}

.four {
    padding-left: 60px;
}

.five {
    padding-left: 80px;
}
