extends ../../layout

block content
    .container
        ol.breadcrumb
            li
                a(href='/mongoDB') MongoDB
            li.active CRUD
        p MongoDB提供了丰富的数据读取和处理功能。CRUD代表创建（Create）、读取（Read）、更新（Update）、删除（Delete），这四种操作是与数据库交互的基础。
        ul
            li
                a(href='/mongoDB/crud/introduction') 3.1&emsp;简介
                ul
                    li
                        a(href='/mongoDB/crud/introduction/section311') 3.1.1&emsp;数据库操作
                    li
                        a(href='/mongoDB/crud/introduction/section312') 3.1.2&emsp;相关特性
            li
                a(href='/mongoDB/crud/concept/read') 3.2&emsp;相关概念
                ul
                    li
                        a(href='/mongoDB/crud/concept/read') 3.2.1&emsp;读操作
                        ul
                            li
                                a(href='/mongoDB/crud/concept/read/section3211') 3.2.1.1&emsp;概述
                            li
                                a(href='/mongoDB/crud/concept/read/section3212') 3.2.1.2&emsp;指针
                            li
                                a(href='/mongoDB/crud/concept/read/section3213') 3.2.1.3&emsp;查询优化
                            li
                                a(href='/mongoDB/crud/concept/read/section3214') 3.2.1.4&emsp;查询计划
                            li
                                a(href='/mongoDB/crud/concept/read/section3215') 3.2.1.4&emsp;分布式查询
                    li
                        a(href='/mongoDB/crud/concept/write') 3.2.2&emsp;写操作
                        ul
                            li
                                a(href='/mongoDB/crud/concept/write/section3221') 3.2.2.1&emsp;概述
                            li
                                a(href='/mongoDB/crud/concept/write/section3222') 3.2.2.2&emsp;写关注（Write Concern）
                            li
                                a(href='/mongoDB/crud/concept/write/section3223') 3.2.2.3&emsp;分布式写操作
                            li
                                a(href='/mongoDB/crud/concept/write/section3224') 3.2.2.4&emsp;写操作的性能
                            li
                                a(href='/mongoDB/crud/concept/write/section3225') 3.2.2.5&emsp;批量插入操作
                            li
                                a(href='/mongoDB/crud/concept/write/section3226') 3.2.2.6&emsp;底层数据存储
            li
                a(href='/mongoDB/crud/tutorial') 3.3&emsp;指导教程
                    ul
                        li
                            a(href='/mongoDB/crud/tutorial/section331') 3.3.1 插入文档
                        li
                            a(href='/mongoDB/crud/tutorial/section332') 3.3.2 查询文档
                        li
                            a(href='/mongoDB/crud/tutorial/section333') 3.3.3 指定查询语句返回的字段
                        li
                            a(href='/mongoDB/crud/tutorial/section334') 3.3.4 在mongo sheel中遍历指针
                        li
                            a(href='/mongoDB/crud/tutorial/section335') 3.3.5 分析查询语句的性能
                        li
                            a(href='/mongoDB/crud/tutorial/section336') 3.3.6 更新文档
                        li
                            a(href='/mongoDB/crud/tutorial/section337') 3.3.7 删除文档
                        li
                            a(href='/mongoDB/crud/tutorial/section338') 3.3.8 两阶段提交
                        li
                            a(href='/mongoDB/crud/tutorial/section339') 3.3.9 跟踪指针（Tailable Cursor）
                        li
                            a(href='/mongoDB/crud/tutorial/section3310') 3.3.10 操作的隔离
                        li
                            a(href='/mongoDB/crud/tutorial/section3311') 3.3.11 创建自增字段
                        li
                            a(href='/mongoDB/crud/tutorial/section3312') 3.3.12 更新数组后，限制数据元素的个数
            li
                a(href='') 3.4&emsp;参考资料