extends ../layout

block content
    .container
        ol.breadcrumb
            li.active MongoDB
        .row
            .col-md-6
                .panel.panel-info
                    .panel-heading 第一章&emsp;简介
                    .panel-body
                        ul
                            li
                                a(href='/mongoDB/introduction') 1.1&emsp;MongoDB是什么
                                ul
                                    li
                                        a(href='/mongoDB/introduction/section111') 1.1.1&emsp;文档型数据库
                                    li
                                        a(href='/mongoDB/introduction/section112') 1.1.2&emsp;关键特性

            .col-md-6
                .panel.panel-info
                    .panel-heading 第二章&emsp;安装
                    .panel-body
                        //ul
                        //    li
                        //        a(href='') 2.1&emsp;安装指南
                        //        ul
                        //            li
                        //                a(href='') 2.1.1&emsp;Linux
                        //                ul
                        //                    li
                        //                        a(href='') 2.1.1.1&emsp;Red Hat
                        //                    li
                        //                        a(href='') 2.1.1.2&emsp;Ubuntu
                        //                    li
                        //                        a(href='') 2.1.1.3&emsp;Debian
                        //                    li
                        //                        a(href='') 2.1.1.4&emsp;其他Linux发行版
                        //            li
                        //                a(href='') 2.1.2&emsp;OS X
                        //            li
                        //                a(href='') 2.1.3&emsp;Windows
                        //            li
                        //                a(href='') 2.1.4&emsp;企业版MongoDB
                        //                ul
                        //                    li
                        //                        a(href='') 2.1.4.1&emsp;Red Hat
                        //                    li
                        //                        a(href='') 2.1.4.2&emsp;Ubuntu
                        //                    li
                        //                        a(href='') 2.1.4.3&emsp;Debian
                        //                    li
                        //                        a(href='') 2.1.4.4&emsp;SUSE
                        //                    li
                        //                        a(href='') 2.1.4.5&emsp;Amazon AMI
                        //                    li
                        //                        a(href='') 2.1.4.6&emsp;Windows
                        //    li
                        //        a(href='') 2.2&emsp;MongoDB起步
                        //        ul
                        //            li
                        //                a(href='') 2.2.1&emsp;开始使用MongoDB
                        //            li
                        //                a(href='') 2.2.2&emsp;生成测试数据
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第三章&emsp;CRUD
                    .panel-body
                        ul
                            li
                                a(href='/mongoDB/crud/introduction') 3.1&emsp;简介
                                ul
                                    li
                                        a(href='/mongoDB/crud/introduction/section311') 3.1.1&emsp;数据库操作
                                    li
                                        a(href='/mongoDB/crud/introduction/section312') 3.1.2&emsp;相关特性
                            li
                                a(href='/mongoDB/crud/concept/read') 3.2&emsp;相关概念
                                ul
                                    li
                                        a(href='/mongoDB/crud/concept/read') 3.2.1&emsp;读操作
                                        ul
                                            li
                                                a(href='/mongoDB/crud/concept/read/section3211') 3.2.1.1&emsp;概述
                                            li
                                                a(href='/mongoDB/crud/concept/read/section3212') 3.2.1.2&emsp;指针
                                            li
                                                a(href='/mongoDB/crud/concept/read/section3213') 3.2.1.3&emsp;查询优化
                                            li
                                                a(href='/mongoDB/crud/concept/read/section3214') 3.2.1.4&emsp;查询计划
                                            li
                                                a(href='/mongoDB/crud/concept/read/section3215') 3.2.1.4&emsp;分布式查询
                                    li
                                        a(href='/mongoDB/crud/concept/write') 3.2.2&emsp;写操作
                                        ul
                                            li
                                                a(href='/mongoDB/crud/concept/write/section3221') 3.2.2.1&emsp;概述
                                            li
                                                a(href='/mongoDB/crud/concept/write/section3222') 3.2.2.2&emsp;写关注（Write Concern）
                                            li
                                                a(href='/mongoDB/crud/concept/write/section3223') 3.2.2.3&emsp;分布式写操作
                                            li
                                                a(href='/mongoDB/crud/concept/write/section3224') 3.2.2.4&emsp;写操作的性能
                                            li
                                                a(href='/mongoDB/crud/concept/write/section3225') 3.2.2.5&emsp;批量插入操作
                                            li
                                                a(href='/mongoDB/crud/concept/write/section3226') 3.2.2.6&emsp;底层数据存储
                            li
                                a(href='/mongoDB/crud/tutorial') 3.3&emsp;指导教程
                                    ul
                                        li
                                            a(href='/mongoDB/crud/tutorial/section331') 3.3.1 插入文档
                                        li
                                            a(href='/mongoDB/crud/tutorial/section332') 3.3.2 查询文档
                                        li
                                            a(href='/mongoDB/crud/tutorial/section333') 3.3.3 指定查询语句返回的字段
                                        li
                                            a(href='/mongoDB/crud/tutorial/section334') 3.3.4 在mongo sheel中遍历指针
                                        li
                                            a(href='/mongoDB/crud/tutorial/section335') 3.3.5 分析查询语句的性能
                                        li
                                            a(href='/mongoDB/crud/tutorial/section336') 3.3.6 更新文档
                                        li
                                            a(href='/mongoDB/crud/tutorial/section337') 3.3.7 删除文档
                                        li
                                            a(href='/mongoDB/crud/tutorial/section338') 3.3.8 两阶段提交
                                        li
                                            a(href='/mongoDB/crud/tutorial/section339') 3.3.9 跟踪指针（Tailable Cursor）
                                        li
                                            a(href='/mongoDB/crud/tutorial/section3310') 3.3.10 操作的隔离
                                        li
                                            a(href='/mongoDB/crud/tutorial/section3311') 3.3.11 创建自增字段
                                        li
                                            a(href='/mongoDB/crud/tutorial/section3312') 3.3.12 更新数组后，限制数据元素的个数
                            li
                                a(href='/mongoDB/crud/reference') 3.4&emsp;参考资料
                                    ul
                                        li
                                            a(href='/mongoDB/crud/reference/section341') 3.4.1 查询指针相关方法
                                        li
                                            a(href='/mongoDB/crud/reference/section342') 3.4.2 集合相关方法
                                        li
                                            a(href='/mongoDB/crud/reference/section343') 3.4.3 MongDB CRUD参考文档
                                                ul
                                                    li
                                                        a(href='/mongoDB/crud/reference/section3431') 3.4.3.1 写关注参考
                                                    li
                                                        a(href='/mongoDB/crud/reference/section3432') 3.4.3.2 SQL和MongoDB的对应关系
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第四章&emsp;数据模型
                    .panel-body
                        ul
                            li
                                a(href='/mongoDB/model/introduction') 4.1&emsp;简介
                                    ul
                                        li
                                            a(href='/mongoDB/model/introduction/section411') 4.1.1&emsp;文档结构
                                        li
                                            a(href='/mongoDB/model/introduction/section412') 4.1.2&emsp;写操作的原子性
                                        li
                                            a(href='/mongoDB/model/introduction/section413') 4.1.3&emsp;文档大小的增长
                                        li
                                            a(href='/mongoDB/model/introduction/section414') 4.1.4&emsp;数据的使用情况和性能
                            li
                                a(href='/mongoDB/model/concept') 4.2&emsp;相关概念
                                    ul
                                        li
                                            a(href='/mongoDB/model/concept/section421') 4.2.1&emsp;数据模型设计
                                        li
                                            a(href='/mongoDB/model/concept/section422') 4.2.2&emsp;数据实际使用的考虑和数据模型
                                        li
                                            a(href='/mongoDB/model/concept/section423') 4.2.3&emsp;GridFS
                            li
                                a(href='/mongoDB/model/example') 4.3&emsp;示例
                                    ul
                                        li
                                            a(href='/mongoDB/model/example/section431') 4.3.1&emsp;文档关系的建模
                                            ul
                                                li
                                                    a(href='/mongoDB/model/example/section4311') 4.3.1.1&emsp;使用嵌套文档实现一对一关系
                                                li
                                                    a(href='/mongoDB/model/example/section4312') 4.3.1.2&emsp;使用嵌套文档实现一对多关系
                                                li
                                                    a(href='/mongoDB/model/example/section4313') 4.3.1.3&emsp;使用范式关联实现一对多关系
                                        li
                                            a(href='/mongoDB/model/example/section432') 4.3.2&emsp;树形结构建模
                                            ul
                                                li
                                                    a(href='/mongoDB/model/example/section4321') 4.3.2.1&emsp;使用父节点关联实现树形结构
                                                li
                                                    a(href='/mongoDB/model/example/section4322') 4.3.2.2&emsp;使用子节点关联实现树形结构
                                                li
                                                    a(href='/mongoDB/model/example/section4323') 4.3.2.3&emsp;使用祖先节点数组实现树形结构
                                                li
                                                    a(href='/mongoDB/model/example/section4324') 4.3.2.4&emsp;使用物理路径实现树形结构
                                                li
                                                    a(href='/mongoDB/model/example/section4325') 4.3.2.5&emsp;使用嵌套集合实现树形结构
                                        li
                                            a(href='/mongoDB/model/example/section433') 4.3.3&emsp;根据应用程序的特定上下文建模
                                            ul
                                                li
                                                    a(href='/mongoDB/model/example/section4331') 4.3.3.1&emsp;为原子性操作建模
                                                li
                                                    a(href='/mongoDB/model/example/section4332') 4.3.3.2&emsp;支持关键字搜索的数据建模
                                                li
                                                    a(href='/mongoDB/model/example/section4333') 4.3.3.3&emsp;为金融数据建模
                            li
                                a(href='/mongoDB/model/reference') 4.4&emsp;参考资料
                                    ul
                                        li
                                            a(href='/mongoDB/model/reference/section441') 4.4.1&emsp;文档
                                        li
                                            a(href='/mongoDB/model/reference/section442') 4.4.2&emsp;数据库关联关系
                                        li
                                            a(href='/mongoDB/model/reference/section443') 4.4.3&emsp;GridFS参考
                                        li
                                            a(href='/mongoDB/model/reference/section444') 4.4.4&emsp;ObjectId
                                        li
                                            a(href='/mongoDB/model/reference/section445') 4.4.5&emsp;BSON类型
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第五章&emsp;数据库管理
                    .panel-body
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第六章&emsp;数据库安全
                    .panel-body
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第七章&emsp;聚合
                    .panel-body
                        ul
                            li
                                a(href='/mongoDB/aggregation/introduction') 7.1&emsp;简介
                                ul
                                    li
                                        a(href='/mongoDB/aggregation/introduction/section711') 7.1.1&emsp;聚合模式
                                    li
                                        a(href='/mongoDB/aggregation/introduction/section712') 7.1.2&emsp;其他特性行为
                            li
                                a(href='/mongoDB/aggregation/concept') 7.2&emsp;相关概念
                                ul
                                    li
                                        a(href='/mongoDB/aggregation/concept/section721') 7.2.1&emsp;聚合管道
                                    li
                                        a(href='/mongoDB/aggregation/concept/section722') 7.2.2&emsp;Map-Reduce
                                    li
                                        a(href='/mongoDB/aggregation/concept/section723') 7.2.3&emsp;单一目的的聚合操作符
                                    li
                                        a(href='/mongoDB/aggregation/concept/section724') 7.2.4&emsp;聚合机制
                            li
                                a(href='/mongoDB/aggregation/example') 7.3&emsp;示例
                                ul
                                    li
                                        a(href='/mongoDB/aggregation/example/section731') 7.3.1&emsp;使用邮编示例数据进行聚合操作
                                    li
                                        a(href='/mongoDB/aggregation/example/section732') 7.3.2&emsp;使用用户爱好示例数据进行聚合操作
                                    li
                                        a(href='/mongoDB/aggregation/example/section733') 7.3.3&emsp;Map-Reduce示例程序
                                    li
                                        a(href='/mongoDB/aggregation/example/section734') 7.3.4&emsp;增量Map-Reduce
                                    li
                                        a(href='/mongoDB/aggregation/example/section735') 7.3.5&emsp;Map函数的问题解决
                                    li
                                        a(href='/mongoDB/aggregation/example/section736') 7.3.6&emsp;Reduce函数的问题解决
                            li
                                a(href='/mongoDB/aggregation/reference') 7.4&emsp;参考资料
                                ul
                                    li
                                        a(href='/mongoDB/aggregation/reference/section741') 7.4.1&emsp;聚合管道参考
                                    li
                                        a(href='/mongoDB/aggregation/reference/section742') 7.4.2&emsp;聚合命令对比
                                    li
                                        a(href='/mongoDB/aggregation/reference/section743') 7.4.3&emsp;SQL和聚合的对比
                                    li
                                        a(href='/mongoDB/aggregation/reference/section744') 7.4.4&emsp;聚合接口
                                    li
                                        a(href='/mongoDB/aggregation/reference/section745') 7.4.5&emsp;聚合表达式中的变量
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第八章&emsp;索引
                    .panel-body
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第九章&emsp;副本集
                    .panel-body
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第十章&emsp;分片
                    .panel-body
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第十一章&emsp;常见问题
                    .panel-body