extends ../layout

block content
    .container
        ol.breadcrumb
            li.active MongoDB
        .row
            .col-md-6
                .panel.panel-info
                    .panel-heading 第一章&emsp;简介
                    .panel-body
                        ul
                            li
                                a(href='/mongoDB/introduction') 1.1&emsp;MongoDB是什么
                                ul
                                    li
                                        a(href='/mongoDB/introduction/section111') 1.1.1&emsp;文档型数据库
                                    li
                                        a(href='/mongoDB/introduction/section112') 1.1.2&emsp;关键特性

            .col-md-6
                .panel.panel-info
                    .panel-heading 第二章&emsp;安装
                    .panel-body
                        ul
                            li
                                a(href='') 2.1&emsp;安装指南
                                ul
                                    li
                                        a(href='') 2.1.1&emsp;Linux
                                        ul
                                            li
                                                a(href='') 2.1.1.1&emsp;Red Hat
                                            li
                                                a(href='') 2.1.1.2&emsp;Ubuntu
                                            li
                                                a(href='') 2.1.1.3&emsp;Debian
                                            li
                                                a(href='') 2.1.1.4&emsp;其他Linux发行版
                                    li
                                        a(href='') 2.1.2&emsp;OS X
                                    li
                                        a(href='') 2.1.3&emsp;Windows
                                    li
                                        a(href='') 2.1.4&emsp;企业版MongoDB
                                        ul
                                            li
                                                a(href='') 2.1.4.1&emsp;Red Hat
                                            li
                                                a(href='') 2.1.4.2&emsp;Ubuntu
                                            li
                                                a(href='') 2.1.4.3&emsp;Debian
                                            li
                                                a(href='') 2.1.4.4&emsp;SUSE
                                            li
                                                a(href='') 2.1.4.5&emsp;Amazon AMI
                                            li
                                                a(href='') 2.1.4.6&emsp;Windows
                            li
                                a(href='') 2.2&emsp;MongoDB起步
                                ul
                                    li
                                        a(href='') 2.2.1&emsp;开始使用MongoDB
                                    li
                                        a(href='') 2.2.2&emsp;生成测试数据
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第三章&emsp;CRUD
                    .panel-body
                        ul
                            li
                                a(href='/mongoDB/crud/introduction') 3.1&emsp;简介
                                ul
                                    li
                                        a(href='/mongoDB/crud/introduction/section311') 3.1.1&emsp;数据库操作
                                    li
                                        a(href='/mongoDB/crud/introduction/section312') 3.1.2&emsp;相关特性
                            li
                                a(href='') 3.2&emsp;相关概念
                            li
                                a(href='') 3.3&emsp;指导教程
                            li
                                a(href='') 3.4&emsp;参考资料
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第四章&emsp;数据模型
                    .panel-body
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第五章&emsp;数据库管理
                    .panel-body
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第六章&emsp;数据库安全
                    .panel-body
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第七章&emsp;聚合
                    .panel-body
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第八章&emsp;索引
                    .panel-body
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第九章&emsp;副本集
                    .panel-body
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第十章&emsp;分片
                    .panel-body
        .row
            .col-md-6
                .panel.panel-primary
                    .panel-heading 第十一章&emsp;常见问题
                    .panel-body